/*
.overlay {

    width: 40vw;
    height: 50vh;
    background: lightcyan;
    border-radius: 5px;

    * {
        box-sizing: border-box;
        border: none;
    }

    .overlay-content {
        padding: 1em;
    }

    input[type=text] {
        height: 6vh;
        float: left;
        width: 80%;
    }
    input[type=text]:hover {
        background: #f1f1f1;
    }

    button[type=submit] {
        height: 6vh;
        float: left;
        width: 20%;
        background: #ddd;
        cursor: pointer;
    }
    
    button[type=submit]:hover {
        background: #bbb;
    }
}

*/